<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: url({{ site.background }});">
        <img src="../jf3.jpeg" class="img-circle" />
        <h3 >{{ site.name }}</h3>
        <p style="color:white;">{{ site.email }}</p>
        <ul class="social">
            {% if site.github %}
            <a type="button" href="http://github.com/{{ site.github }}">
                <i class="fa-brands fa-github fa-2x"></i>
            </a>
            {% endif %} {% if site.semantic %}
            <a type="button" href="https://www.semanticscholar.org/author/{{ site.semantic }}">
                <i class="ai ai-semantic-scholar-square ai-2x"></i>
            </a>
            {% endif %} {% if site.scholar %}
            <a type="button" href="https://scholar.google.com/{{ site.scholar }}">
                <i class="ai ai-google-scholar-square ai-2x"></i>
            </a>
            {% endif %} {% if site.twitter %}
            <a type="button" href="http://twitter.com/{{ site.twitter }}">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>  
            {% endif %} {% if site.linkedin %}
            <a type="button" href="http://linkedin.com/in/{{ site.linkedin }}">
                <i class="fa-brands fa-linkedin fa-2x"></i>
            </a>
            {% endif %} {% if site.zhihu %}
            <a type="button" href="https://www.zhihu.com/people/{{ site.zhihu }}">
                <i class="fa-brands fa-zhihu fa-2x"></i>
            </a>
            {% endif %}   
        </ul>
    </div>
    <div class="posts">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
